@model Project_63135353.Models.ForgotPasswordMV_63135353

@{
    ViewBag.Title = "Forgot";
}

<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="job-category-listing col-md-6 mb-50">
                <div class="col-md-12">
                    <h2 class="contact-title" align="center">Quên Mật Khẩu</h2>
                    @Html.ValidationSummary(true, "", new { @class = "text-success" })
                </div>
                @using (Html.BeginForm("Forgot", "User_63135353", FormMethod.Post,
                    new
                    {
                        @class = "form-contact",
                        @novalidate = "novalidate"
                    }))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.EditorFor(model => model.Email, new
                                {
                                   htmlAttributes = new
                                       {
                                           @class = "form-control valid",
                                           @type = "email",
                                           @name = "email",
                                           @id = "email",
                                           @placeholder = "Vui lòng nhập Email",
                                           @onfocus = "this.placeholder = ''",
                                           @onblur = "this.placeholder = 'Vui lòng nhập Email'",
                                       }
                                })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="display: flex; flex-direction: column; align-items: center;">
                        <input type="submit" value="Gửi" class="button button-contactForm boxed-btn" />
                    </div>

                }
            </div>

            <div class="col-md-6" style="padding: 60px 0px 0px 60px;">
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-home"></i></span>
                    <div class="media-body">
                        <h3>Việt Nam, tỉnh Khánh Hòa</h3>
                        <p>TP. Nha Trang, 650000</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                    <div class="media-body">
                        <h3>+84 773 753 848</h3>
                        <p>T2-T6, 9:00 AM-6:00 PM</p>
                    </div>
                </div>
                <div class="media contact-info">
                    <span class="contact-info__icon"><i class="ti-email"></i></span>
                    <div class="media-body">
                        <h3>tai.gv.63cntt@ntu.edu.vn</h3>
                        <p>Gửi cho chúng tôi câu hỏi của bạn bất cứ lúc nào!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>